<section id="about-us">
    <div>
        <h2 class="text-center py-3"><u>About Us</u></h2>
    </div>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col">
            <h3>Exploring</h3>
            <p>Community members bring their unique experiences and insight as we explore the cities of the world.</p>
            </div>
        <div class="col">
            <h3>Discovering</h3>
            <p>You found a awesome a hidden gem in paris? great let discover what make each city beautiful and one of kind together.</p>
            </div>
        <div class="col">
            <h3>Bridging Cultures</h3>
            <p>One community member at a time sharing their viewpoint, allowing us all to see the world through different lens.</p>
            </div>
        </div>
    </div>
</section>