
/* .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
} */

#about-us {
    margin: 30px;
}
h2 {
    text-align: center;
    margin-bottom: 40px;
}

col {
    text-align: center;
}