@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');


img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.card {
    background-color: #cfecfd;
    border-radius: 50px;
    color: #6f707d;
    font-family: 'Marcellus', serif
}

#heading {
    font-size: 55px;
    color: #2b304d;
}

.temp {
    place-items: center;
}

span {
    font-size: 20px;
}
#weather-section img{

    width: 50px;
    height: 50px;
}

#weather-icon img{
    width: 100px;
    height: 100px; 

}
.form-control {
    max-width: 800px;

}

