<div class="container-fluid">
  <section id="weather-section">
    <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="col-12 col-md-4 col-sm-12 col-xs-12">
              <div class="card p-4">
                  <div class="d-flex">
                      <h3 class="flex-grow-1">{{weather.name}}</h3>
                  </div>
                  <div class="d-flex flex-column temp mt-5 mb-3">
                      <h1 class="mb-0 font-weight-bold" id="heading"> {{weather.main.temp}}° F </h1> <span class="small grey">{{weather.weather[0].description}}</span>
                  </div>
                  <div class="d-flex">
                      <div class="temp-details flex-grow-1">
                          <p class="my-1"> <i class="bi bi-wind"></i> <span> {{weather.wind.speed}} m/h </span> </p>
                          <p class="my-1"> <i class="bi bi-droplet-fill" aria-hidden="true"></i> <span> {{weather.main.humidity}}% </span> </p>
                      
                      </div>
                      <div id="weather-icon"> <img  src="http://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png"> </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </section>

    <div class="row justify-content-center">
      <h2 class="text-center p-4">Welcome to {{city.name}}</h2>
            
      <input [(ngModel)]="searchText" class="form-control shadow my-5" type="text" placeholder="Search by title or content">

    </div>
    <div class="row mb-2 justify-content-center">  
      <div *ngFor="let post of sortByLastModified | filter:searchText" class="col-6" style="width: 500px;">
        <div class="col-auto d-none d-lg-block">
          <img src="{{post.img}}" alt="" class="img-thumbnail">
        </div>
        <div class="row g-0 border rounded d-flex mb-4 shadow">
          <div class="col p-4 flex-column position-static">
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-muted">{{post.lastModified}}</div>
            <p class="card-text mb-auto">{{post.description | slice: 0: 100}}...</p>
            <a class="stretched-link" (click)="redirectToPost(post)">Continue reading</a>
          </div>
        </div>
      </div>
    </div>
</div>
<section id="form" class="container shadow my-5">
  <h2>Create New Post</h2>
  <form action="">
      <div class="form-group">
          <label for="exampleFormControlInput1" class="py-2">Title</label>
          <input name="title" [(ngModel)]="title" minlength="1"  maxlength="200" [ngModelOptions]="{standalone: true}" type="title" class="form-control" id="exampleFormControlInput1" placeholder="Title"> 
      </div>
      <div class="form-group">
          <label for="exampleFormControlInput2" class="py-2">Description</label>
          <textarea [(ngModel)]="description" [ngModelOptions]="{standalone: true}" class="form-control" aria-label="Description" rows="6" placeholder="Post Description"></textarea>
           
      </div>
      <button (click)="post()" type="submit" class="btn btn-primary my-3" [disabled]="!title || !description" >Submit</button>
  </form>

</section>

<div *ngFor="let post of postArray">
<p>{{post.title}}</p>
<p>{{post.description}}</p>


